body{
    background: linear-gradient(to right ,#00BFFF , #d17000);
}
.header{
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    color:gold;
}
button{
    border: 1px solid lightblue;
    margin-left: 8%;
    width: 100px;
    height: 50px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right ,#7B68EE , #A390EE);
    border-radius: 20%;
}
.footer{
    height: 50px;
    width:100%;
    position:absolute;
    bottom: 8px;
}
#container{
    width: 100%;
    height: 100%;
}

#stack{
    height: 300px;
    width: 250px;
    border: 2px solid gray;
    border-top: hidden;
    position: relative;
    left: 42%;
    top: 19%;
}
.inserted{
    height: 50px;
    width: 250px;
    background-color: rgb(105, 255, 198);
    position: absolute;
    text-align: center;
    background-image: linear-gradient(to right ,#828282 , #aaaaaa)
}
